<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Helvetica, Arial, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #66635f;
    color: white;
    font-weight: 600;
    font-size: 15px;
  }

  .mat-flat-button,
  .mat-raised-button {
    background-color: #2a7de1;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #linkedin-logo {
    height: 40px;
    margin: 0 20px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 60px auto 32px;
    padding: 4px 10px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    width: 200px;
    padding: 4px 12px 4px 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    font-size: 15px;
  }

  .note {
    margin: 3px;
    font-size: 12px;
  }
  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container
    .card:not(.highlight-card):hover
    .material-icons
    path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: grey;
    color: white;
    border: none;
    width: auto;
    position: relative;
    display: inline-block;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: '\2022 \2022 \2022';
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo,
      monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
    border-color: rgba(27, 31, 35, 0.35);
    background-position: -0.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  mat-divider {
    margin-top: 0px;
    margin-bottom: 5px;
    width: 100%;
    border-top-width: 3px;
    border-top-style: solid;
  }

  .spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-container {
    display: inline-block;
    position: relative;
  }
  body {
    width: 400px;
    height: 320px;
    overflow: hidden;
  }
  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link),
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: auto;
      margin: 8px 0;
    }

    .card.highlight-card span {
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<body>
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <a
      href="https://leetcode.com/"
      title="Leetcode"
      target="_blank"
      rel="noopener"
    >
      <img
        width="40"
        alt="Angular Logo"
        src="https://leetcode.com/static/images/LeetCode_logo_rvs.png"
      />
    </a>
    <span>Leetcode Session Manager</span>
    <div class="spacer"></div>
    <a
      aria-label="Angular on twitter"
      target="_blank"
      rel="noopener"
      href="https://www.linkedin.com/in/pawanjenu/"
      title="LinkedIn"
    >
      <svg
        id="linkedin-logo"
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        fill="currentColor"
        class="bi bi-linkedin"
        fill="#fff"
        viewBox="0 0 15 15"
      >
        <path
          d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
        />
      </svg>
    </a>
  </div>

  <div class="content" role="main">
    <!-- Highlight Card -->

    <div class="card highlight-card card-small">
      <span *ngIf="currentChosenSession">
        <span> Current User Session: </span>
        <span style="font-weight: 600">{{
          currentChosenSession?.name
        }}</span>
      </span>
      <span *ngIf="!currentChosenSession"
        >No User Session chosen</span
      >
    </div>

    <p class="note">
      The above user session will be used for your leetcode
      submissions
    </p>
    <mat-divider>sdsd</mat-divider>
    <h4 style="font-weight: 600">
      Choose a session to update Current User Session
    </h4>
    <mat-form-field appearance="fill" style="font-size: 12px">
      <mat-label>Sessions</mat-label>
      <mat-select
        (ngModelChange)="onSelect($event)"
        [ngModel]="leetcodeSessions"
      >
        <mat-option
          *ngFor="let session of leetcodeSessions"
          [value]="session"
        >
          {{ session.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="button-container">
      <div class="spinner-container" *ngIf="isLoading">
        <mat-spinner diameter="24"></mat-spinner>
      </div>
      <button
        mat-raised-button
        [disabled]="isLoading"
        (click)="onReloadClick()"
        color="primary"
      >
        Reload sessions
      </button>
    </div>

    <!-- Footer -->
    <footer style="font-size: 14px">
      Love This extension?&nbsp;
      <a
        href="https://github.com/pawanjenu/LeetcodeSessionManager"
        target="_blank"
        rel="noopener"
      >
        Give our repo a star.
        <div class="github-star-badge">
          <svg
            class="material-icons"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path d="M0 0h24v24H0z" fill="none" />
            <path
              d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
            />
          </svg>
          Star
        </div>
      </a>
      <a
        href="https://github.com/pawanjenu/LeetcodeSessionManager"
        target="_blank"
        rel="noopener"
      >
        <svg
          class="material-icons"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"
            fill="#1976d2"
          />
          <path d="M0 0h24v24H0z" fill="none" />
        </svg>
      </a>
    </footer>
  </div>

  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
</body>
